name: Check code style

on: [push, pull_request]   # yamllint disable-line rule:truthy

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 1
          show-progress: false
      - name: make style-check
        run: make style-check
